/* Edit.css */
  
  /* Form input group styles */
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .input-group label {
    flex: 0 0 200px; /* กำหนดขนาดของ label */
    margin-right: 15px;
    text-align: right;
  }
  
  .input-group input, 
  .input-group select {
    flex: 1; /* ทำให้ input เต็มพื้นที่ที่เหลือ */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .input-group button {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-group button:hover {
    background-color: #ffd633;
  }
  /* Edit.css */

/* Edit.css */

/* Form container styles */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff; /* เปลี่ยนสีเป็นสีขาว */
    border-radius: 10px; /* เพิ่มการปัดมุม */
    background-color: #f9f9f9; /* เปลี่ยนสีพื้นหลัง */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
    position: relative; /* ตำแหน่งเป็น relative เพื่อให้สามารถกำหนดตำแหน่งปุ่มได้ */
}

/* Submit button styles */
.submit-button {
    background-color: #C7B69F;
    color: white;
    font-size: medium;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute; /* ตั้งค่าปุ่มเป็น absolute เพื่อจัดตำแหน่ง */
    bottom: -100px; /* ตั้งค่าให้อยู่ด้านล่างของฟอร์มก่อนหน้า */
    left: 50%; /* จัดตำแหน่งให้อยู่ตรงกลางของฟอร์ม */
    transform: translateX(-50%); /* ย้ายองค์ประกอบไปทางซ้ายเพื่อจัดให้อยู่ตรงกลาง */
}

.submit-button:hover {
    background-color: #C7B69F;
}
