/* Permission.css */

.permission-container {
    max-width: 600px;
    height: 400px;
    margin: 0 auto 7px;
    padding: 20px;
    background-color: #fff;
    border-radius: 45px;
  }
  
  .permission-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .permission-form {
    margin-bottom: 20px;
   
  }
  
  .permission-label {
    margin-right: 10px;
  }
  
  .permission-select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .permission-submit {
    padding: 10px 25px;
    background-color: #C7B69F;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin:auto;
    display: block;
    
  }
  
  .permission-submit:hover {
    background-color: #C7B69F;
  }
  